@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Marcellus+SC&display=swap");
/* font-family */
$ff-base: "Marcellus SC", serif;
$ff-alt-alpha: "Ms Madi", cursive;
$ff-alt-beta: "ABeeZee", sans-serif;
$ff-alt-gamma: "Jost", sans-serif;

/* base font size - applied at body / html level */
$fs-base: 1.6rem;
$fs-icons: 2.5rem;

/* heading font-sizes */
$fs-logo: 5.6rem;
$fs-h1: 3.6rem;
$fs-h2: 3.2rem;
$fs-h3: 2.8rem;
$fs-h4: 2.4rem;
$fs-h5: 2rem;
$fs-h6: 1.8rem;

/* smaller than heading font sizes */
$fs-milli: 1.4rem;
$fs-micro: 1.2rem;
$fs-nano: 1rem;

/* primary brand color - skyblue - with shades and tints via Sass functions */
$clr-base: #333;
$clr-primary: #72a499;
$clr-primary-lt: #becbc2;
$clr-primary-ltr: #e2f2f0;

$clr-primary-dk: darken($clr-primary, 5%);
$clr-primary-dkr: darken($clr-primary, 10%);

/* secondary brand color - hotpink - with shades and tints via Sass functions */
$clr-secondary: #baa491;
$clr-secondary-lt: lighten($clr-secondary, 2%);
$clr-secondary-ltr: #f9f0ee;

$clr-secondary-dk: darken($clr-secondary, 5%);
$clr-secondary-dkr: darken($clr-secondary, 50%);

/* neutrals */
$clr-ntrl-min: #fff;
$clr-ntrl-max: #000;

/* color */
$clr-orange: #f2b989;
$clr-teal: #abd2c9;
$clr-pink: #f3b2c8;
$clr-red: #f8796c;
$clr-green: #9dc06f;
$clr-black: #2b2a29;
$clr-gray: #a1a1a1;
$clr-gray-dk: #7e7e7e;

/* screen sizes */
$media-xs: 320px;
$media-sm: 480px;
$media-md: 768px;
$media-lg: 1024px;
$media-xl: 1200px;
