.main {
  text-align: center;

  svg {
    font-size: $fs-icons;
    color: rgba($clr-base, 0.8);

    @media only screen and (max-width: $media-md) {
      font-size: calc($fs-icons - 0.5rem);
    }
    @media only screen and (max-width: $media-sm) {
      font-size: calc($fs-icons - 0.7rem);
    }
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  .home {
    .grid {
      margin: 0 5rem;
    }
  }
}
