.bc-list {
  display: flex;
  margin-top: 4rem;

  .bc-item {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: $fs-h6;
    transition: all 0.5s ease 0s;
    font-family: $ff-alt-beta;

    &:not(:last-child) {
      margin-right: 1rem;
      color: rgba($clr-base, 0.7);
      cursor: pointer;

      &:hover {
        color: $clr-base;
      }
    }

    svg {
      font-size: 1.5rem;
      margin-left: 0.5rem;
    }

    &.disabled {
      font-weight: 500;
      font-size: $fs-h5;
    }
  }
}
