.btn {
  border: none;
  font-size: $fs-base;

  &.btn-link {
    color: $clr-base;
    text-transform: uppercase;
    text-decoration: none;
  }

  &.btn-primary {
    line-height: 2.4rem;
    padding: 1.5rem 4rem;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 50rem;
    background-color: $clr-secondary-ltr;
    color: $clr-black;
    font-family: $ff-alt-beta;
  }
}
