@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Jost&family=Marcellus&family=Ms+Madi&display=swap");
/* font-family */
/* base font size - applied at body / html level */
/* heading font-sizes */
/* smaller than heading font sizes */
/* primary brand color - skyblue - with shades and tints via Sass functions */
/* secondary brand color - hotpink - with shades and tints via Sass functions */
/* neutrals */
/* color */
/* screen sizes */
.main {
  text-align: center;
}
.main svg {
  font-size: 2.5rem;
  color: rgba(51, 51, 51, 0.8);
}
@media only screen and (max-width: 768px) {
  .main svg {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 480px) {
  .main svg {
    font-size: 1.8rem;
  }
}

.bs-sec .styled-title {
  font-size: 5.6rem;
  font-family: "Ms Madi", cursive;
  color: #72a499;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .bs-sec .styled-title {
    font-size: 4.6rem;
  }
}
@media only screen and (max-width: 480px) {
  .bs-sec .styled-title {
    font-size: 3.6rem;
  }
}
.bs-sec .sec-title {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
  .bs-sec .sec-title {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 480px) {
  .bs-sec .sec-title {
    font-size: 2rem;
  }
}
.bs-sec .bg-circle {
  border-radius: 50%;
  margin: 0 auto;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.bs-sec .bg-circle * {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.bs-sec .bg-circle .btn-link {
  width: 10.5rem;
  margin: 0 auto;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 1024px) {
  .bs-sec .bg-circle .btn-link {
    bottom: 8rem;
  }
}
@media only screen and (max-width: 768px) {
  .bs-sec .bg-circle .btn-link {
    bottom: 13rem;
  }
}
@media only screen and (max-width: 480px) {
  .bs-sec .bg-circle .btn-link {
    bottom: 15rem;
  }
}
.bs-sec .bg-circle::after, .bs-sec .bg-circle::before {
  content: "";
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}
.bs-sec .bg-circle::before {
  height: 50rem;
  width: 50rem;
  background-color: #fff;
}
@media only screen and (max-width: 1024px) {
  .bs-sec .bg-circle::before {
    height: 45rem;
    width: 45rem;
  }
}
@media only screen and (max-width: 768px) {
  .bs-sec .bg-circle::before {
    height: 35rem;
    width: 35rem;
  }
}
@media only screen and (max-width: 480px) {
  .bs-sec .bg-circle::before {
    height: 30rem;
    width: 30rem;
  }
}
.bs-sec .bg-circle::after {
  height: 45rem;
  width: 45rem;
  border: 3px solid rgba(186, 164, 145, 0.5);
}
@media only screen and (max-width: 1024px) {
  .bs-sec .bg-circle::after {
    height: 40rem;
    width: 40rem;
  }
}
@media only screen and (max-width: 768px) {
  .bs-sec .bg-circle::after {
    height: 30rem;
    width: 30rem;
  }
}
@media only screen and (max-width: 480px) {
  .bs-sec .bg-circle::after {
    height: 25rem;
    width: 25rem;
  }
}
.bs-sec .right-banner {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.bs-sec .bg-rec {
  color: #fff;
  position: relative;
  width: 56rem;
}
.bs-sec .bg-rec img {
  height: auto;
  width: 100%;
}
.bs-sec .bg-rec::after, .bs-sec .bg-rec::before {
  content: "";
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.bs-sec .bg-rec::before {
  background-color: #becbc2;
  z-index: -1;
}
.bs-sec .bg-rec::after {
  height: 90%;
  width: 53rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.bs-sec .bg-rec_footer {
  width: 56rem;
  margin-top: 3.6rem;
}
.bs-sec .bg-rec_footer .info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bs-sec .bg-rec_footer .info-wrap .discount {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2rem;
  margin-bottom: 3px;
}
.bs-sec .bg-rec_footer .desc {
  text-align: left;
  font-size: 1.6rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "ABeeZee", sans-serif;
}
.bs-sec.typ-content {
  margin: 10rem 0;
}
.bs-sec.typ-content .promo-banner {
  margin-top: 7rem;
  justify-content: space-between;
}
.bs-sec.typ-content .sec-title {
  position: relative;
}
.bs-sec.typ-content .sec-title::before {
  content: url("../images/title-decor-left.png");
  padding-right: 10px;
}
.bs-sec.typ-content .sec-title::after {
  content: url("../images/title-decor-right.png");
  padding-left: 10px;
}
.bs-sec.typ-content .bg-circle img {
  max-height: 7.5rem;
  width: 15.7rem;
  margin: 1rem auto;
  margin-top: -9rem;
}
.bs-sec.typ-content .bg-circle .styled-title {
  padding-bottom: 1rem;
}
.bs-sec.typ-content .bg-circle .discount {
  font-size: 3.2rem;
  display: flex;
  width: 20rem;
  margin: 0 auto;
  align-items: center;
  line-height: 3.5rem;
  text-transform: uppercase;
}
.bs-sec.typ-content .bg-circle .discount span {
  font-size: 11rem;
}
.bs-sec.typ-content .bg-circle::before {
  top: 47%;
  left: 47%;
  background-color: #f7f1ef;
  filter: url("#displacementFilter");
}
.bs-sec.typ-content .bg-circle::after {
  border: 2px dashed rgba(186, 164, 145, 0.5);
}

.btn {
  border: none;
  font-size: 1.6rem;
}
.btn.btn-link {
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}
.btn.btn-primary {
  line-height: 2.4rem;
  padding: 1.5rem 4rem;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 50rem;
  background-color: #f9f0ee;
  color: #2b2a29;
  font-family: "ABeeZee", sans-serif;
}

@media only screen and (max-width: 1200px) {
  .header.desktop-view {
    display: none;
  }
}
.header .row {
  align-items: center;
}
.header .brand-logo {
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .brand-logo img {
  height: 4rem;
  margin-right: 1rem;
}
@media only screen and (max-width: 768px) {
  .header .brand-logo img {
    height: 3rem;
  }
}
.header .brand-logo p {
  font-size: 5.6rem;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .header .brand-logo p {
    font-size: 3.6rem;
  }
}
.header .nav-icon:not(:last-child) {
  margin-right: 2rem;
}
.header .nav-list {
  display: flex;
  justify-content: center;
  padding: 2rem 0 3rem;
  border-top: 1px dashed rgba(51, 51, 51, 0.2);
}
.header .nav-list .nav-link {
  font-size: 1.6rem;
  color: rgba(51, 51, 51, 0.7);
  position: relative;
  text-transform: uppercase;
  font-family: "ABeeZee", sans-serif;
  letter-spacing: 1.5px;
}
.header .nav-list .nav-link:not(:last-child) {
  padding-right: 4rem;
}
.header .nav-list .nav-link svg {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  opacity: 0.5;
  margin-bottom: 0.5rem;
}
.header.mobile-view {
  text-align: right;
}
@media only screen and (min-width: 1200px) {
  .header.mobile-view {
    display: none;
  }
}
.header.mobile-view .brand-logo {
  justify-content: start;
}
.header.mobile-view .hamburger {
  font-size: 3.5rem;
}
@media only screen and (max-width: 768px) {
  .header.mobile-view .hamburger {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 480px) {
  .header.mobile-view .hamburger {
    font-size: 2.4rem;
  }
}
.header.alt-view {
  margin: 0 3rem;
}
@media only screen and (max-width: 1200px) {
  .header.alt-view {
    display: none;
  }
}
.header.alt-view .nav-list {
  padding: 0rem;
  border: none;
  justify-content: start;
  padding-left: 3rem;
}
.header.alt-view .nav-list .nav-link:not(:last-child) {
  padding-right: 2.5rem;
}

.main-banner {
  padding: 14rem;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .main-banner {
    padding: 4rem;
  }
}
@media only screen and (max-width: 768px) {
  .main-banner {
    padding: 0rem;
  }
}
.main-banner .bg-circle .btn-link {
  width: 9rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #333;
}
.main-banner .bg-circle .styled-title {
  color: #baa491;
}
.main-banner::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url(https://cdn.shopify.com/s/files/1/0457/4969/8724/files/slideshow-v2-img3.jpg?v=1598236683);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

.tile .img-wrap {
  height: 32.5rem;
  width: 24.4rem;
  background-color: #f2f2f2;
  margin: 0 auto;
}
.tile .img-wrap img {
  max-height: 100%;
  max-width: 100%;
}
.tile .img-wrap span {
  width: 48px;
  height: 48px;
  margin: 2rem;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: lowercase;
}
.tile .img-wrap .discount {
  background-color: #98d8ca;
}
.tile .info-wrap {
  margin-top: 2.8rem;
}
.tile .info-wrap .product-name {
  font-family: "ABeeZee", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 12px;
  color: #7e7e7e;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.tile .info-wrap .product-price {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: #333;
}

.bc-list {
  display: flex;
  margin-top: 4rem;
}
.bc-list .bc-item {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  transition: all 0.5s ease 0s;
  font-family: "ABeeZee", sans-serif;
}
.bc-list .bc-item:not(:last-child) {
  margin-right: 1rem;
  color: rgba(51, 51, 51, 0.7);
  cursor: pointer;
}
.bc-list .bc-item:not(:last-child):hover {
  color: #333;
}
.bc-list .bc-item svg {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
.bc-list .bc-item.disabled {
  font-weight: 500;
  font-size: 2rem;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Marcellus", serif;
  color: #333;
}

html {
  font-size: 10px;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/*# sourceMappingURL=index.css.map */
